# ~/.gitconfig
[includeIf "gitdir:~/"]
    path = ~/.gitconfig-home
[includeIf "gitdir:~/code/work/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/code/home/"]
    path = ~/.gitconfig-home
[includeIf "gitdir:~/.config/"]
    path = ~/.gitconfig-home
[core]
	editor = vim
[init]
    templateDir = /home/aaron/code/work/devops-githooks
	defaultBranch = main
[http]
    sslBackend = openssl
