# ~/.gitconfig
[includeIf "gitdir:~/code/work/"]
    path = .gitconfig-work
[includeIf "gitdir:~/code/home/"]
    path = .gitconfig-home
[includeIf "gitdir:~/.config/"]
    path = .gitconfig-home
[includeIf "gitdir:~/"]
    path = .gitconfig-home
[url "git@ssh.dev.azure.com:v3/Windstream/"]
	insteadOf = https://dev.azure.com/Windstream/
[status]
	showUntrackedFiles = no
[core]
	editor = vim
[init]
    templateDir = /home/aaron/code/work/devops-githooks
	defaultBranch = main
