* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

#window,
#cpu,
#disk,
#custom-updates,
#custom-memory,
#custom-mouse,
#custom-notify,
#custom-weather,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#idle_inhibitor {
    border-left: 1px solid rgba(255, 255, 255, .6);
    padding-right: 10px;
    padding-left: 10px;
}

#custom-notify {
    color: rgba(180, 190, 254, .8);
    border-left: none;
    padding-right: 12px;
}
#custom-weather {
    color: rgba(180, 190, 254, .8);
    border-left: 1px solid rgba(255, 255, 255, .6);
}
#network {
    min-width: 200px;
}
#custom-mouse {
    color: rgba(249, 226, 175, .8)
}
window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #f6f7fc;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

#workspaces,
#custom-cider,
.modules-right {
    background-color: rgba(50, 50, 50, .6);
    border-radius: 5px;
    margin: 0px;
    border: 1px solid rgba(255, 255, 255, .6)
}

#workspaces button {
    color: #f6f7fc;
    padding: 5px;
}

#workspaces button.active {
    color: #000000;
    background: #74c7ec;
    border-radius: 3px;
    margin: 0px;
}

#workspaces button.urgent {
    color: #f38ba8;
}


#cpu {
    color: rgba(137, 180, 250, .8)
}
#temperature.critical {
    color: #e92d4d;
}

#window {
    border-radius: 3px;
    margin-left: 0px;
    margin-right: 0px;
}

#custom-cider {
    background-color: rgba(50, 50, 50, .6);
    border-radius: 5px;
    margin: 0px;
    border: 1px solid rgba(255, 255, 255, .6);
    padding-left: 15px;
    padding-right: 15px;

}

#custom-memory {
    color: rgba(250, 179, 135, .8)
}
