configuration {
  display-drun: "apps";
  display-run: "run";
  display-filebrowser: "files";
  drun-display-format: "{name}";
  disable-history: false;
  hide-scrollbar: true;
  show-icons: true;
  modi: "drun,run,filebrowser";
  sidebar-mode: true;
}

@theme "catppuccin-mocha"

